* {
    margin: 0;
    padding: 0; 
    font-family: Play;
}


@font-face {
    font-family: Play;
    src: url(./fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: PlayBold;
    src: url(./fonts/Play/Play-Regular.ttf);
}

:root {
    --navbar: #0B192C;
    --body: #3674B5;
    --orange: #FF6500;
    --text: #3674B5;
    --backgroudn: #04080f;
    --picorange: #FF6500;
    --textrgb: 30, 62, 98;
    --bodyrgb: 11, 25, 44;
    --text2: #1E3E62;
    --darkblue: #0B192C;
    --lessdarkblue: #0e1d33;
    --orangergb: 255, 101, 0;
}

.formular-conteiner {
    width: 100%;
    padding-top: 15vh;
    height: 85vh;
    display: flex;
    flex-direction: row;
}

.formular-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.formular-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h4 {
    color: var(--orange);
    font-size: 2rem;
}

h1 {
    margin-top: 5vh;
}

input[type="text"],
input[type="email"],
textarea[name="message"] {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid var(--text);
    border-radius: 8px;
    outline: none;
    transition: 0.3s ease;
  }
  
input[type="text"]:focus,
input[type="email"]:focus,
textarea[name="message"]:focus {
    border-color: var(--orange);
    box-shadow: 0 0 5px rgba(var(--textrgb));
    }

input[type="submit"] {
    background: var(--darkblue);
    color: var(--orange);
    border-style: outset;
    border-color: var(--orange);
    height: 50px;
    width: 100%;
    border-radius: 8px;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;


    text-shadow: none;
}

.formular-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 50px;
}

.socialni-site {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 25px;
}

.socialni-site .fa {
    color: var(--orange);
}

@media (min-width: 1024px) {
    h1 {
        font-size: clamp(3rem, 2rem + 1.5625vw, 4.5rem);
    }
    
    h4 {
        font-size: clamp(1.5rem, 0.5rem + 1.5625vw, 3rem);
    }
    
    input[type="text"],
    input[type="email"],
    textarea[name="message"] {
        font-size: clamp(0.8rem, 0.5333rem + 0.4167vw, 1.2rem);
      }

    
    input[type="submit"] {
        font-size: clamp(1.2rem, 0.3333rem + 1.3542vw, 2.5rem);
    }
    footer #footertext {
        font-size: clamp(1.2rem, 0.2rem + 1.5625vw, 2.7rem);
    }

    .fa {
        font-size: clamp(2rem, 1rem + 1.5625vw, 3.5rem);
    }
}

@media (min-width: 725px) and (max-width: 1024px) {
    .formular-conteiner {
        width: 100%;
        padding-top: 15vh;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .formular-left {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: top;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .formular-right {
        width: 100%;
        padding-top: 5vh;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        gap: 50px;
    }

    h1 {
        font-size: clamp(3rem, 1.7876rem + 2.6756vw, 3.5rem);
    }
    
    h4 {
        font-size: clamp(1.5rem, 0.2876rem + 2.6756vw, 2rem);
    }
    
    input[type="text"],
    input[type="email"],
    textarea[name="message"] {
        font-size: clamp(1.1rem, 0.1301rem + 2.1405vw, 1.5rem);
      }

    
    input[type="submit"] {
        font-size: clamp(1.2rem, 0.2301rem + 2.1405vw, 1.6rem);
    }

    footer #footertext {
        font-size: clamp(1rem, 0.4093rem + 1.2355vw, 1.2rem);
    }

    .fa {
        font-size: clamp(1.7rem, 0.8139rem + 1.8533vw, 2rem);
    }
    
}

@media (min-width: 250px) and (max-width: 725px) {
    .formular-conteiner {
        width: 100%;
        padding-top: 15vh;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .formular-left {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: top;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .formular-right {
        width: 100%;
        padding-top: 5vh;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        gap: 50px;
    }

    h1 {
        font-size: clamp(2.5rem, 2.2368rem + 1.6842vw, 3rem);
    }
    
    h4 {
        font-size: clamp(1.6rem, 1.3895rem + 1.3474vw, 2rem);
    }
    
    input[type="text"],
    input[type="email"],
    textarea[name="message"] {
        font-size: clamp(0.9rem, 0.7947rem + 0.6737vw, 1.1rem);
      }

    
    input[type="submit"] {
        font-size: clamp(1rem, 0.8947rem + 0.6737vw, 1.2rem);
    }

    footer #footertext {
        font-size: clamp(0.8rem, 0.6947rem + 0.6737vw, 1rem);
    }

    .fa {
        font-size: clamp(1.4rem, 1.2421rem + 1.0105vw, 1.7rem);
    }
    
}

@media (max-width: 250px) {
    .formular-conteiner {
        width: 100%;
        padding-top: 15vh;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .formular-left {
        width: 100%;
        height: 85vh;
        display: flex;
        justify-content: top;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .formular-right {
        width: 100%;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        gap: 50px;
    }

    h1 {
        font-size: 2.4rem;
    }
    
    h4 {
        font-size: 1.5rem;
    }
    
    input[type="text"],
    input[type="email"],
    textarea[name="message"] {
        font-size: 0.8rem;
      }

    
    input[type="submit"] {
        font-size: 0.9rem;
    }

    footer #footertext {
        font-size: 0.7rem;
    }

    .fa {
        font-size: 1.3rem;
    }
}