* {
    margin: 0;
    padding: 0; 
}

@font-face {
    font-family: Play;
    src: url(../fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: PlayBold;
    src: url(../fonts/Play/Play-Regular.ttf);
}


:root {
    --navbar: #0B192C;
    --body: #3674B5;
    --orange: #FF6500;
    --text: #3674B5;
    --backgroudn: #04080f;
    --picorange: #FF6500;
    --textrgb: 30, 62, 98;
    --bodyrgb: 11, 25, 44;
    --text2: #1E3E62;
    --darkblue: #0B192C;
    --lessdarkblue: #0e1d33;
    --orangergb: 255, 101, 0;
}


body {
    font-family: Play;
    background-color: var(--darkblue);
}

.hidden {
    opacity: 0;
    /*transform: rotate(-90deg);*/
    transform: translate(-20px);
}

.show {
    opacity: 1;
    /*transform: rotate(0deg);*/
    transform: translate(0px);
    transition: transform 0.8s, opacity 0.8s;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.firstpage {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 84vh;
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    background-color: var(--darkblue);
    
}

.firstpage-content {
    width: 50%;
    height: 100%;
}
.firstpage-left {
    background-color: var(--backgroudn);
    border: var(--backgroudn) 5px solid;
}
.firstpage-text {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 90%;
    height: 70%;
    gap: 10px;
}
h2 {
    color: var(--text);
    font-size: 2rem;
}

.firstpagetext-animation {
    transition: opacity 0.5s ease;

    opacity: 1;
}

.firstpagetext-animation.hidden {
    opacity: 0;
}
h1 {
    color: var(--text2);
    font-size: 3rem;
}

p {
    color: var(--text);
    font-size: 1.2rem;
}

.firstpage-right {
    border: var(--backgroudn) 5px solid;
}

.firstpage-right img {
    width: 80%;
    height: 80%;
    border: var(--backgroudn) 5px solid;
    object-fit: cover;
}


.content {
    margin-top: 2vh;
}
.content-conteiner {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.content-item {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-item * {
    width: 90%;
}
.content-item-text {
    flex-direction: column;
    gap: 25px;

}

.content-item-text h1 {
    color: var(--orange);

}

.content-item img  {
    width: 85%;
    height: 55%;
    object-fit: cover;
    box-shadow: 16px 15px 36px 30px rgba(30,62,98,0.75);
    -webkit-box-shadow: 16px 15px 36px 30px rgba(30,62,98,0.75);
    -moz-box-shadow: 16px 15px 36px 30px rgba(30,62,98,0.75);
}

footer {
    position: relative;
    z-index: 15;
    background-color: var(--darkblue);
}